.coins {
    
    background-color: #eefdec;
    font-size: black;
    border-bottom: 50px;
    text-decoration: blink;
    border-color: black;
    border: black;
    border-style: outset;
    border-collapse: collapse;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
    font-weight: normal;
    text-shadow: none;
    font-size: 20px;


}

.container {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    text-shadow: 0 2px 0;
}

#botao{
    position:none;
    height: 30px;
    width: 100px;
    background-color: #00A59D;
    

}
