.data {
    background-clip: border -box;
    background-color: #ADD8E6;
    font-size: black;
    border-bottom: 50px;
    text-decoration: blink;
    text-transform: capitalize;
    border-color: black;
    border: black;
    border-style: outset;
    border-collapse: collapse;
    width: auto;
    height: auto;
    max-width: 1700px;
    margin-top: 150px;
    margin-left: 100px;
    font-weight: 900;
    font-weight: bolder;
    text-shadow: none;
    font-size: 20px;


}

.container {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 0 2px 0;
    background:  #00a59D;
}
